<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade formulário</title>

    <!-- Link CSS externo -->
    <link
      rel="stylesheet"
      href="../static/styles/styles.css"
      class="stylesheet"
    />

    <!-- Link JS externo -->
    <!-- <script src="/static/scripts/scripts.js" defer></script>
  </head> -->
  <body>
    <%# Este é um comentario em EJS %>

    <!-- <header>
      <a href="" class="Logo">LOGO</a>
      <nav>
        <a href="">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
        <a href="/foradecasa">Login</a>
      </nav>
    </header> -->

   <%- include("../partials/menu.ejs"); %>
   
   
    <%- include("../partials/footer"); %>
  </body>
</html>
