<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>

    <section class="container">
      <div class="image_container">
        <h1>Crie sua conta</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <title>Document</title>

      <%# include("userTable") %>
    </section>

    <%- include("../partials/footer") %>
  </body>
</html>
